.row{
    display:flex;
    flex-direction: row;
}

.square{
    width: 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    color: aquamarine;
    font-weight: bolder;
    padding-bottom: 25px;
    font-size: 30px;
}

.b-bottom-r{
    border-right: 7px solid gold;
    border-bottom: 7px solid gold;
}

.b-bottom{
    border-bottom: 7px solid gold;
}

.b-right{
    border-right: 7px solid gold;
}

.gamer{
    font-weight: bold;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: rgb(183, 16, 16);
}

.gamer button{
    width: 17%;
    padding: 0.5%;
    margin-top: 0.5% ;
    margin-bottom: 0.5%;
}

.scoreboard{
    width: 17.2%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 1.5em;
    background-color: aquamarine;
    border: 1px solid blue;
    font-weight: bold;
    margin: 2% 0% 0% 0%;
    padding: 1% 0% 1% 0%;
    border-radius: 2px;
}